
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    transition: background-color 0.5s ease;
}

header {
    background-color: #b4b4b4;
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    color: #007BFF; 
    margin-bottom: 10px;
}

header h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
    color: #666;
}

.hero {
    background-color: #007BFF;
    color: #fff;
    padding: 200px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.content {
    padding: 60px;
    text-align: center;
}

.content h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-size: 1rem;
    color: #666;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
